.wrapper{
    margin-left: 200px;
}

.checking-location{
    margin-left: 100px;
    border: 5px solid gray;
    border-top-color: blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation-name: spin 1s linear infitite;
    @keyframes spin {
        0% { transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }
   
}

.map{
    margin-top: 100px;
    margin-left: 200px;
    width: 1000px;
    height: 600px;
    background-color: red;
}

.checkinfo{
    margin-top: 50px;
    width: 1500px;
    height: 150px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.wrapcheck{
width: 100%;
height: 33%;
display: flex;
}
.wraploading{
    padding-left: 15px;
}
.checktime{
    font-size: 23px;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20;
}