.wrapper {
    display: flex;
    height: 1200px;
    width: 100%;
    flex: 10;
    border-top: 1px solid rgb(104, 101, 101);
}
.info{
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 500px;
    height: 70%;
    background-color: white;
}
.thongso{
    position: fixed;
    background-color: white;
    top: 120px;
    right: 50px;
    width: 500px;
    height: 90px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .thongsoitem{
        width: 25%;
        height: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        //background-color: red;
        .thongsoitemcontent{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .thongso-item-text{
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }
    }
}
.leftContent {
    //margin-left: 50px;
    //margin-top: 40px;
    flex: 6;
    //border-right: 1px solid rgb(104, 101, 101);
    display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
   // background-color: red;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 4;

    .rightTop {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .image {
            width: 500px;
            height: 350px;
            //margin-top: -100px;
            background-image: url(https://cdn3.vectorstock.com/i/1000x1000/28/67/modern-car-white-color-white-background-ima-vector-20552867.jpg);
            background-size: auto 400px;
            background-repeat: no-repeat;
        }

        .wrapInfo {
            width: 100%;
            height: 220px;
            display: flex;
            justify-content: center;

            .contentInfo {
                height: 100%;
                width: 90%;
                //background-color: blue;
                justify-content: center;
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                border-bottom: 1px solid rgb(104, 101, 101);

                .bienSoXe {
                    height: 50px;
                    width: 100%;
                    background-color: white;
                    font-size: 30px;
                    font-weight: 600;
                }

                .viTri {
                    height: 70px;
                    width: 100%;
                    background-color: white;
                    font-size: 20px;
                    font-weight: 400;
                }
                .user{
                    height: 60px;
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    .userImage{
                        width: 60px;
                        height: 60px;
                        border-radius: 50px;
                        background-image: url(https://i.pinimg.com/736x/0d/18/b7/0d18b7af57d7fdf390edafb21403cfa4.jpg);
                        background-size: 60px auto;
                        background-repeat: no-repeat;
                    }
                    .userInfo{
                        height: 100%;
                        width: 500px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 20px;
                    }
                }
            }

        }
    }

    .rightBottom {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        .table{
            margin-top: 50px;
            width: 80%;
            height: 600px;
            //background-color: red;
            display: flex;
            justify-content: center;
            .tableform{
                width: 100% ;
                background-color: blue;
            }
        }
    }
}

.checkinfo {

    margin-top: 50px;
    width: 900px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.wrapcheck {
    width: 100%;
    height: 33%;
    display: flex;
}

.wraploading {
    padding-left: 15px;
}

.checktime {
    font-size: 23px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20;
}