@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.test{
    margin-left: 500px;
    width: 500px;
    height: 100px;
    border: 1px solid black;
    border-collapse: collapse;
    
}
.headerTable{
    //border: 1px solid black;
    text-align: center;
    height: 40px;
    background-color: red;
}