.footerwrap{
    width: 100%;
    height: 250px;
    background-color: rgb(24, 19, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
}
.footerbkdn{
    margin-left: 150px;
    width: 20%;
    height: 90%;
    //padding-right: 20px;
    //background-color: red;
}

.footerdsp{
    padding-left: 20px;
    border-left: 1px dotted white;
    width: 30%;
    height: 90%;
    border-right: 1px dotted white;
    //border
}
.footericon{
    width: 10%;
    height: 90%;
    //background-color: yellow;
}
.titlefooter{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}
.icon_tt{
    color: white;
    display: flex;
    align-items: center;
}
.tt{
    padding: 5px;
    font-size: 15px;
}
.footericon{
    padding-left: 20px;
}