.menu-item{
    width: 200px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    text-decoration: none; 
    font-size : 1.8rem;
    font-weight: 700;
    color: black;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    font-weight: 500;
    &.active{
        color : rgb(107, 142, 238)
    }

    &:hover{
        background-color: rgba(22, 24, 35, .03);
    }
}

.title{
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.menulist{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    justify-content: flex-start;
}